@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="material-color-def">HelpLocally</h1>
    <a asp-page="/Identity/Login" class="btn mt-3 btn-primary">Log in</a>
</div>